.BlockWindowWrap-false {
  top: 100px;
  left: 300px;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: rgb(255, 255, 255);

  height: 300px;
  width: 300px;

  .header {
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 30px;
    background: #2d9d2d;
    text-align: left;
    font-weight: bold;
    color: #fff;
    cursor: move;

    .WindowHead {
      margin: 5px;
    }

  }

  .main {
    text-align: left;
    margin: 30px 0px;
    height: 70%;
    .WindowWelcome {
      font: 18px/22px "Arial", "Tahoma", "Helevetica", sans-serif;
      margin-bottom: 8px;
      font-weight: 400;
      margin-top: 50px;
      margin-left: 5px;
    }
    .WindowFieldLabel {
      padding: 3px 10px;
      color: #a6a6a6;
      font: 12px/18px "Arial", "Tahoma", "Helevetica", sans-serif;
      margin-bottom: 12px;
    }
    .WindowFieldControlFrame {
      border-bottom: 1px solid #cccccc;
      background: #ffffff;
      margin-bottom: 5px;
      line-height: 1;
      padding: 4px;
      color: #666666;
    }
    .WindowFieldControlFrame-Error {
      border-bottom: 1px solid #df0707;
      background: #ffffff;
      margin-bottom: 5px;
      line-height: 1;
      padding: 4px;
      color: #666666;
    }
    .WindowFieldEdit {
      font-size: 16px;
      line-height: 18px;
      color: #000;
      outline: none;
      height: 18px;
      border-style: none;
      font-weight: 600;
      width: 100%;
    }
    .WindowFieldError {
      position: absolute;
      color: #f80000;
      font: italic 11px/0.5 "Arial", "Tahoma", "Helevetica", sans-serif;
    }
    .WindowFieldError-display-none {
      display: none;
    }
    .WindowFieldTextareaEdit {
      font-size: 16px;
      line-height: 18px;
      color: #000;
      outline: none;
      height: 50px;
      border-style: none;
      font-weight: 600;
      width: 100%;
    }
    textarea {
      resize: none;
      height: 10px;
    }
    input::placeholder {
      color: rgb(129, 127, 127);
      font-weight: normal;
    }
    .errorMessage{
      background: #2d9d2d;
      padding-left:50px; 
      font-size: 12px;
      text-align: left;
      font-weight: bold;
      color: #fff;
      cursor: move;
      margin-bottom:30px; 
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 30px;
    margin-left: 25%;
    margin-bottom: 20px;

    .button {
      width: 100%;
      height: 100%;
      border-radius: 5px 5px 5px 5px;
      background-color: #2d9d2d;
      color: #fff;
      text-align: center;
      font-weight: bold;
    }
    .button:disabled {
      width: 100%;
      height: 100%;
      border-radius: 5px 5px 5px 5px;
      background-color: #0f460f;
      color: #fff;
      text-align: center;
      font-weight: bold;
    }
    .button:focus {
      outline: 0;
    }
  }
  // закончился футер
  .resizeBtnBR {
    width: 15px;
    height: 15px;
    background-image: url("/src/images/resizeR.png");
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    background-size: 100%;
  }
  .resizeBtnBL {
    width: 15px;
    height: 15px;
    background-image: url("/src/images/resizeR.png");
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: nesw-resize;
    transform: scale(-1, 1);
    background-size: 100%;
  }

  .close {
    width: 20px;
    height: 11px;
    background-image: url("/src/images/close.png");
    position: absolute;
    right: 10px;
    top: 2px;
    cursor: pointer;
    background-size: 100%;
  }

  .ActiveChat {
    margin-top: 20px;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    text-align: center;
  }
  .ActiveChatNone {
    display: none;
  }

  .ActiveChat a {
    color: green;
    cursor: pointer;
    text-decoration: underline;
  }

//со старой версии поля ввода
  .ActiveChatFooterInput {
    // direction: rtl ;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    outline: none;
    height: 27px;
    border-style: none;
    font-weight: 600;
    width: 90%;
    resize: none;
    border-bottom: 1px solid rgb(156, 156, 156);
    border-radius: 5px;
    
  }


  ///////////////////////////////////////////
  //окно с со смайлами
  // .WindowSmilies{
  //   width: 250px;
  //   height: 107px;
  //   position: absolute;
  //   background-image: url("/src/images/all-min.png");
  //   background-size: 100%;
  //   border: 1px solid green;
  //   bottom:45px;
  //   right:22px;
  // }
  // .WindowSmiliesNone{
  //   display: none,
  // }
  ////////////////////////////////////////////
  .ActiveChatFooterSelectionSmile {
    position: absolute;
    width: 100px;
    height: 100px;
  }

  .ChatWindowAppreciateDialogue {
    //padding: 30px;
    text-align: center;
  }
  .ChatWindowAppreciateDialogueNone {
    display: none;
  }
  .DialogueRating1{
    padding: 30px;
  }
  .DialogueRating2{
    position: absolute;
    top: 200px;
    width: 100%;

}
  .ChatWindowAppreciateDialogueImg {
    width: 25px;
    height: 25px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    background-size: 100%;
  }
  .ChatWindowAppreciateDialogueImg:hover {
    width: 25x;
    height: 25px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    background-size: 100%;
    animation: ChatRating 0.2s 1 forwards;
  }
  .ChatWindowAppreciateDialogueImg2 {
    width: 25px;
    height: 25px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    background-size: 100%;
    opacity: 0.3; /* Значение прозрачности */
  }
  @keyframes ChatRating {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }
  .ChatWindowAppreciateDialogueFooter {
    width: 100%;
    position: absolute;
    bottom: 20px;
    margin: auto;
  }
  .ChatWindowAppreciateDialogueFooterNone {
    display: none;
  }
  .AppreciateDialogueButton {
    cursor: pointer;
    text-align: center;
    margin: 20px;
  }
  .ViewButton1 {
    color: #504f4f;
    font-size: 14px;
  }
  .ViewButton1:hover {
    color: green;
    font-size: 14px;
  }
  .ViewButton2 {
    color: green;
    font-size: 16px;
  }
  .ViewButton2:hover {
    color: green;
    text-decoration: underline;
    font-size: 16px;
  }
  .AppreciateDialogueButton a {
    padding: 15px;
  }





}

.BlockWindowWrap-true {
  display: none;
}

.ThanksCallBack-img {
  width: 141px;
  height: 231px;
  margin-left: 15px;
  margin-top: 40px;
  background-image: url("/src/images/callback.jpg");
  background-size: 100%;
}
.ThanksMail-img {
  width: 141px;
  height: 231px;
  margin-left: 15px;
  margin-top: 40px;
  background-image: url("/src/images/callback.jpg");
  background-size: 100%;
}
.renderThanks-text {
  font: 16px/22px "Arial", "Tahoma", "Helevetica", sans-serif;
  position: absolute;
  left: 155px;
  top: 45px;
  font-weight: 400;
}
